<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" >My Learning Application</a>
      <h6 *ngIf="name"  class="navbar-brand">Welcome {{name}}</h6>
    </div>
  </nav>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Designed by Subalin</a>
      <a class="navbar-brand" href="#">{{currentDate}}</a> 
    </div>
  </nav>

  <!-- The sidebar -->
<div  *ngIf="dontShow" class="sidebar">
    <a class="active" routerLink="/dashboard">Dashboard</a>
    <a routerLink="/color">Color Picker</a>
    
    <!-- <a href="#about">About</a> -->
  </div>
<!-- <div class="login-container">
  <app-login></app-login>
</div> -->
  
  <!-- Page content -->
  <div class="content">
     <router-outlet></router-outlet>
     <app-login *ngIf="!dontShow" (loggedInFlag)="updateDontShow($event)"></app-login>
     <!-- <app-dashboard *ngIf="dontShow"></app-dashboard> -->
  </div>

 